{% extends 'layout.html' %}

{% block title %}
Search for [Product Name]
{% endblock %}


{% block header %}
<h1 style="text-align: center;">Enter the [Product Name] you want to search for</h1>

<form method="POST" action="{{ url_for('find') }}" style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
    <input type="text" name="item" placeholder="Enter your search query" style="width: 400px; height: 40px; padding: 10px; border: 2px solid #ddd; border-radius: 5px; font-size: 16px;">
    <button type="submit" style="height: 40px; padding: 10px 20px; background-color: #0066cc; color: #fff; border: none; border-radius: 5px; font-size: 16px; margin-left: 10px; cursor: pointer;">Search</button>
</form>

{% if item %}
    
    <div class="search-results" style="text-align: center; margin-top: 20px;">
        <p>Your search results:</p>
        <input type="text" placeholder="Shortened url" value="{{item}}" id="shortened-url" style="width: 400px; height: 40px; padding: 10px; border: 2px solid #ddd; border-radius: 5px; font-size: 16px;">
        <button onclick="copyToClipboard()" style="height: 40px; padding: 10px 20px; background-color: #0066cc; color: #fff; border: none; border-radius: 5px; font-size: 16px; margin-left: 10px; cursor: pointer;">Copy search results link</button>
    </div>
   
{% endif %}


<script>
function copyToClipboard() {
    var copyText = document.getElementById("shortened-url");
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */
    document.execCommand("copy");
    alert("Copied the URL: " + copyText.value);
}
</script>

{% endblock %}
